#body {
    background-color: rgba(40, 40, 190, 255);
    border: 10px solid rgb(20, 20, 120);
    transition: background-color 60s, border 10s;
    /*width: 700px;
    height: 50px;
    display: flex;
    */
    border-radius: 50px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    
  }
  
  .vertical {
    color: white;
    font: 32px "Arial";
  }
  
  .extra {
    width: 350px;
    height: 350px;
    margin-top: 10px;
    border: 4px solid rgb(20, 20, 120);
    text-align: center;
    padding: 20px;
  }